* {
    font-family: 'Nunito Sans', sans-serif;
}
.headline{
    font-weight: bolder;
}
.navbar {
    padding: 10px 16px;
}
.navbar-collapse {
    flex-grow: unset;
}
.menu-input-pesquisa {
    width: 400px !important;
}
.home-principal-jumbotron {
    background-color: unset;
    padding-top: 125px;
    padding-bottom: 125px;
}
.home-principal {
    background: linear-gradient(45deg, rgb(255,216,0) 0%, rgb(255,132,0) 75%);
}
.breadcrumb {
    background-color: unset;
    border-radius: unset;
    padding: unset;
    margin-bottom: unset;
}