RewriteEngine On

RewriteRule ^admin\/?$ ?diretorio=admin [NC,L]
RewriteRule ^admin\/([A-z0-9-]{5,})\/?$ ?diretorio=admin&slug=$1 [NC,L]
RewriteRule ^admin\/([A-z0-9-]{5,})\/([A-z0-9-]{3,})\/?$ ?diretorio=admin&slug=$1&curso=$2 [NC,L]

RewriteRule ^admin\/editar\/novo\/([0-9]{1,})\/?$ ?diretorio=admin&slug=editar&idCapitulo=$1 [NC,L]
RewriteRule ^admin\/editar\/([0-9]{1,})\/?$ ?diretorio=admin&slug=editar&idConteudo=$1 [NC,L]

RewriteRule ^aluno\/?$ ?diretorio=aluno [NC,L]
RewriteRule ^aluno\/([A-z0-9-]{5,})\/?$ ?diretorio=aluno&slug=$1 [NC,L]
RewriteRule ^aluno\/([A-z0-9-]{5,})\/([A-z0-9-]{3,})\/?$ ?diretorio=aluno&slug=$1&curso=$2 [NC,L]

RewriteRule ^([A-z0-9-]{5,})\/?$ ?slug=$1 [NC,L]
RewriteRule ^([A-z0-9-]{5,})\/([A-z0-9-]{3,})\/?$ ?slug=$1&curso=$2 [NC,L]

ErrorDocument 404 /index.php