.jumbotron {
    margin-bottom: unset !important;
}
.principal {
    background: linear-gradient(135deg, rgba(17,102,221,0.85) 20%, rgba(0,34,136,0.95) 80%);
}
.principal .navbar {
    padding: 10px 16px;
}
.principal .jumbotron {
    background-color: unset;
    padding-top: 80px;
    padding-bottom: 80px;
}
.principal h1 {
    font-size: 32px !important;
    margin-bottom: 62.5px;
}
.principal h1 span {
    color: white;
    font-size: 40px;
    font-weight: bold;
}
.principal .video {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
}
.card {
    overflow: hidden;
}
.card a {
    text-decoration: unset;
}
h4 {
    font-size: 1.125rem;
}
.ibm-watson {
    background: linear-gradient(90deg, rgb(0,98,255) 0%, rgb(138,63,252) 100%);
}
.ibm-watson span {
    font-size: 28px;
    font-weight: bold;
    vertical-align: -webkit-baseline-middle;
}